body{
    padding:1rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.navbar{
    display:flex;
    margin:0;
    padding: 0;
    list-style: none;
    gap:1rem;
    justify-content: flex-end;
    align-items: center;
}

h1{
    margin:0;
}